In [1]:
import pandas as pd
from pandas import Series, DataFrame
import sqlite3

In [8]:
c = sqlite3.connect("bus.db")

In [9]:
def qry(sql):
    return pd.read_sql(sql, c)

In [22]:
qry("""
SELECT * 
FROM boarding
ORDER BY Route
""")

      index  StopID  Route        Lat        Lon  DailyBoardings
0       162    1324      1  43.074479 -89.386180            0.35
1       540    1787      1  43.075033 -89.382303            1.51
2       626    1872      1  43.072813 -89.381885            1.74
3      1052     428      1  43.073317 -89.394044            8.36
4      1111      87      1  43.074150 -89.392328            3.48
5      1120     100      1  43.073399 -89.401365            6.39
6      1159     133      1  43.073275 -89.413154            3.37
7      1177     160      1  43.073481 -89.409413            1.97
8      1194     161      1  43.070146 -89.387071           22.30
9      1218     178      1  43.073427 -89.407056            2.79
10     1262     234      1  43.073427 -89.403883            2.44
11     1289     248      1  43.071891 -89.382453            1.39
12     1388     435      1  43.071921 -89.397094            2.67
13     1421     455      1  43.071967 -89.400106            5.23
14     1453     470      1  43.071625 -89.392860            0.12
15     1507     520      1  43.068634 -89.388936            0.12
16     1540     564      1  43.070692 -89.384195            5.69
17     1548     568      1  43.073309 -89.396192           15.33
18     1576     581      1  43.072057 -89.405920           12.31
19     1599     593      1  43.073129 -89.391032           10.22
20     1621     668      1  43.071005 -89.385503            5.69
21     1625     670      1  43.073336 -89.397994            8.25
22     1676     741      1  43.072039 -89.404278            6.16
23     1733     809      1  43.073177 -89.410858           11.62
24     1842     941      1  43.071894 -89.395489            0.70
25     1865     965      1  43.071346 -89.388663           11.15
26     1880    1100      1  43.076028 -89.384661            4.41
27     1902    1101      1  43.073297 -89.383773            1.63
28     3063    2561      1  43.071996 -89.428227            4.30
29     3088    2605      1  43.072273 -89.424733            7.09
...     ...     ...    ...        ...        ...             ...
3942   1255     208     82  43.067849 -89.407131            1.67
3943   1347     313     82  43.068418 -89.386949            0.78
3944   1352     341     82  43.073140 -89.400414            2.78
3945   1356     349     82  43.068092 -89.413759            4.00
3946   1370     388     82  43.069451 -89.401168            1.67
3947   1377     398     82  43.067877 -89.409353            2.78
3948   1495     506     82  43.074974 -89.395500           13.34
3949   1511     520     82  43.068634 -89.388936            4.11
3950   1525     538     82  43.072701 -89.400846            7.78
3951   1533     548     82  43.067822 -89.404428            4.67
3952   1536     558     82  43.069700 -89.393799            0.33
3953   1593     581     82  43.072057 -89.405920           10.89
3954   1603     593     82  43.073129 -89.391032            3.56
3955   1668     710     82  43.069834 -89.390515            1.67
3956   1698     741     82  43.072039 -89.404278            2.67
3957   1703     751     82  43.070241 -89.413759            7.89
3958   1730     795     82  43.074599 -89.400488           11.12
3959   1750     809     82  43.073177 -89.410858           11.01
3960   1785     853     82  43.070748 -89.394922            0.56
3961   1788     866     82  43.067904 -89.411093            0.89
3962   1841     926     82  43.074267 -89.397537            8.45
3963   1864     962     82  43.067768 -89.401490            0.67
3964   1869     965     82  43.071346 -89.388663            0.89
3965   1874     967     82  43.068957 -89.392096            0.56
3966    734    2014     84  43.089239 -89.433760            5.79
3967    736    2018     84  43.086293 -89.435043            0.11
3968    907    2240     84  43.078988 -89.426659            1.00
3969   1477     488     84  43.075200 -89.407339           48.70
3970   1520     532     84  43.075254 -89.412549           48.47
3971   3003    2442     84  43.076588 -89.419301           10.14

[3972 rows x 6 columns]

# How many people use the bus system daily?

In [24]:
qry("""
SELECT SUM(DailyBoardings) FROM boarding
""")

   SUM(DailyBoardings)
0             55987.18

# How many stops does each route have?

In [23]:
qry("""
SELECT COUNT(), Route
FROM boarding
GROUP BY Route
""")

    COUNT()  Route
0        32      1
1       125      2
2       150      3
3       114      4
4        91      5
5       211      6
6       130     10
7        93     11
8        69     12
9        56     13
10      133     14
11      173     15
12       78     16
13       15     17
14       90     18
15      100     19
16       52     20
17       38     21
18       36     22
19       21     25
20       33     26
21       96     27
22       97     28
23       50     29
24       48     30
25       51     31
26       60     32
27       65     33
28       28     34
29       66     35
30       11     36
31       95     37
32      159     38
33       32     39
34       42     40
35       59     44
36       78     47
37       23     48
38       34     49
39       33     50
40       36     51
41       19     52
42       12     55
43      130     56
44      118     57
45       88     58
46       27     67
47      127     70
48      102     71
49      104     72
50       85     73
51       39     75
52       47     80
53       32     81
54       33     82
55        6     84

# Which routes have less than 20 stops?

In [26]:
qry("""
SELECT COUNT() as stops, Route
FROM boarding
GROUP BY Route
HAVING stops < 20
""")

   stops  Route
0     15     17
1     11     36
2     19     52
3     12     55
4      6     84

# How many people board each route daily?

Show most popular routes first.

In [27]:
qry("""
SELECT SUM(DailyBoardings) as people, Route
FROM boarding
GROUP BY Route
""")

      people  Route
0     181.44      1
1    4808.03      2
2    2708.55      3
3    2656.99      4
4    1634.69      5
5    4537.02      6
6    4425.23     10
7     392.43     11
8     329.51     12
9     615.20     13
10   1373.81     14
11   2179.98     15
12   1258.93     16
13    294.55     17
14   1039.57     18
15    827.53     19
16    545.91     20
17    590.86     21
18    995.21     22
19     24.19     25
20    107.10     26
21    298.07     27
22   1868.31     28
23    111.28     29
24    687.13     30
25    139.87     31
26     86.47     32
27    206.53     33
28     81.97     34
29    140.42     35
30     59.13     36
31    319.82     37
32   1955.85     38
33    140.89     39
34    602.92     40
35    416.90     44
36    379.89     47
37     30.65     48
38     61.83     49
39    748.75     50
40    137.57     51
41    176.24     52
42    129.23     55
43    477.44     56
44    464.86     57
45    362.59     58
46    729.54     67
47    710.80     70
48    497.09     71
49    636.95     72
50    448.87     73
51    435.35     75
52  10211.79     80
53    371.76     81
54    219.48     82
55    114.21     84

# Which bus routes have at least 3 stops with more than 50 daily boardings?

In [28]:
qry("""
SELECT SUM(DailyBoardings) as people, Route
FROM boarding
GROUP BY Route
HAVING people >= 3
""")

      people  Route
0     181.44      1
1    4808.03      2
2    2708.55      3
3    2656.99      4
4    1634.69      5
5    4537.02      6
6    4425.23     10
7     392.43     11
8     329.51     12
9     615.20     13
10   1373.81     14
11   2179.98     15
12   1258.93     16
13    294.55     17
14   1039.57     18
15    827.53     19
16    545.91     20
17    590.86     21
18    995.21     22
19     24.19     25
20    107.10     26
21    298.07     27
22   1868.31     28
23    111.28     29
24    687.13     30
25    139.87     31
26     86.47     32
27    206.53     33
28     81.97     34
29    140.42     35
30     59.13     36
31    319.82     37
32   1955.85     38
33    140.89     39
34    602.92     40
35    416.90     44
36    379.89     47
37     30.65     48
38     61.83     49
39    748.75     50
40    137.57     51
41    176.24     52
42    129.23     55
43    477.44     56
44    464.86     57
45    362.59     58
46    729.54     67
47    710.80     70
48    497.09     71
49    636.95     72
50    448.87     73
51    435.35     75
52  10211.79     80
53    371.76     81
54    219.48     82
55    114.21     84

# Which bus routes have at least 10 stops with more than 50 daily boardings?

In [31]:
qry("""
SELECT COUNT() as stops, SUM(DailyBoardings) as people, Route
FROM boarding
GROUP BY Route
HAVING people > 50 AND stops >=10
""")

    stops    people  Route
0      32    181.44      1
1     125   4808.03      2
2     150   2708.55      3
3     114   2656.99      4
4      91   1634.69      5
5     211   4537.02      6
6     130   4425.23     10
7      93    392.43     11
8      69    329.51     12
9      56    615.20     13
10    133   1373.81     14
11    173   2179.98     15
12     78   1258.93     16
13     15    294.55     17
14     90   1039.57     18
15    100    827.53     19
16     52    545.91     20
17     38    590.86     21
18     36    995.21     22
19     33    107.10     26
20     96    298.07     27
21     97   1868.31     28
22     50    111.28     29
23     48    687.13     30
24     51    139.87     31
25     60     86.47     32
26     65    206.53     33
27     28     81.97     34
28     66    140.42     35
29     11     59.13     36
30     95    319.82     37
31    159   1955.85     38
32     32    140.89     39
33     42    602.92     40
34     59    416.90     44
35     78    379.89     47
36     34     61.83     49
37     33    748.75     50
38     36    137.57     51
39     19    176.24     52
40     12    129.23     55
41    130    477.44     56
42    118    464.86     57
43     88    362.59     58
44     27    729.54     67
45    127    710.80     70
46    102    497.09     71
47    104    636.95     72
48     85    448.87     73
49     39    435.35     75
50     47  10211.79     80
51     32    371.76     81
52     33    219.48     82

# Which bus routes have at least 3 stops with more than 100 daily boardings?

In [32]:
qry("""
SELECT COUNT() as stops, SUM(DailyBoardings) as people, Route
FROM boarding
GROUP BY Route
HAVING people > 100 AND stops >=3
""")

    stops    people  Route
0      32    181.44      1
1     125   4808.03      2
2     150   2708.55      3
3     114   2656.99      4
4      91   1634.69      5
5     211   4537.02      6
6     130   4425.23     10
7      93    392.43     11
8      69    329.51     12
9      56    615.20     13
10    133   1373.81     14
11    173   2179.98     15
12     78   1258.93     16
13     15    294.55     17
14     90   1039.57     18
15    100    827.53     19
16     52    545.91     20
17     38    590.86     21
18     36    995.21     22
19     33    107.10     26
20     96    298.07     27
21     97   1868.31     28
22     50    111.28     29
23     48    687.13     30
24     51    139.87     31
25     65    206.53     33
26     66    140.42     35
27     95    319.82     37
28    159   1955.85     38
29     32    140.89     39
30     42    602.92     40
31     59    416.90     44
32     78    379.89     47
33     33    748.75     50
34     36    137.57     51
35     19    176.24     52
36     12    129.23     55
37    130    477.44     56
38    118    464.86     57
39     88    362.59     58
40     27    729.54     67
41    127    710.80     70
42    102    497.09     71
43    104    636.95     72
44     85    448.87     73
45     39    435.35     75
46     47  10211.79     80
47     32    371.76     81
48     33    219.48     82
49      6    114.21     84